<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="script.js"></script>
</head>
<body>

  <div class="page-container">

    <div class="nav logo">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </div>
    <div class="nav">
      <ul>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'New', new_post_path %></li>
      </ul>
    </div>
    <div class="nav-base">
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
