<!DOCTYPE html>
<html>
<head>
  <title>reblogr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <!-- this stylesheet tag isn't needed, and in fact doesn't correctly point
       to your styles.css. (check the console and you'll see the error).
       that's because you just need the style_sheet_link tag, and that loads
       application.css, which due to the rails asset pipeline, loads all other css
       as well.
       the same holdes for your script.js tag down below
   -->
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="https://use.typekit.net/uot3qox.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="script.js"></script>
</head>
<body>

  <div class="page-container">

    <div class="nav logo">
      <ul>
        <li><%= link_to 'reblogr', root_path %></li>
      </ul>
    </div>
    <div class="nav">
      <ul>
        <% if current_user %>
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li>
            <div class="menu-pic"></div>
            <%= link_to "My profile", user_path(current_user) %>
          </li>
          <li><%= link_to "New post", new_post_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "News Feed", posts_path %></li>
      </ul>
    </div>
    <div class="nav-base">
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>


    <div class="nav logo">
      <ul>
        <li><%= link_to 'reblogr', root_path %></li>
      </ul>
    </div>
    <div class="nav">
      <ul>
        <% if current_user %>
          <li><%= link_to "My profile", user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "News Feed", posts_path %></li>
      </ul>
    </div>

  </div>

</body>
</html>
